.btn() {
	font-size: 14px;
	font-weight: 700;
	color: @light;
	padding: 0;
	border-radius: 0;
	text-align: center;
	display: inline-block;
	min-width: 145px;
	min-height: 40px;
	line-height: 40px;
	background-color: @secondary-color;
	text-transform: uppercase;
	border: 0;
	box-shadow: none;

	&:hover,
	&:focus {
		color: @light;
		border: 0;
		box-shadow: none;
	}
}

.fp-btn {
	.btn()
}

.btn-2nd() {
	color: @primary-color;
	font-weight: 700;
	font-size: 14px;
	font-family: @font-family-secondary;
	text-transform: uppercase;
	text-align: center;
	padding: 0 20px;
	border: 0;
	border-radius: 0;
	min-height: 50px;
	line-height: 50px;
	min-width: 140px;
	background-color: #f7f7f7;
	box-shadow: 0;
	display: inline-block;
	transition: 0.5s;

	&:hover,
	&:focus {
		background-color: @secondary-color;
		color: @light;
		border: 0;
		border-radius: 0;
		box-shadow: 0;
		outline: none;
	}
}

.fp-btn-2nd {
	.btn-2nd()
}
