.main-color {
    color: @secondary-color;
}

.main-background-color {
    background-color: @secondary-color;
}

.vc_row {
    &.vc_row-fluid {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    &.parallax {
        background-attachment: fixed;
        background-position: 50% 50%;
    }

    &.overlay-enable {
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    &.vc_inner {
        margin-left: -15px;
        margin-right: -15px;
    }

    & > .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .wpb_content_element {
        margin-bottom: 0;
    }

}

.vc_row.vc_row-flex {
    & > .container-fluid {
        width: 100%;
    }

    & > .container,
    & > .container-fluid {
        > .row {
            box-sizing: border-box;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            > .vc_column_container > .vc_column-inner {
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }

        }
    }
}

.vc_row.vc_row-o-columns-top {
    & > .container,
    & > .container-fluid {
        > .row {
            -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
        }
    }
}

.vc_row.vc_row-o-columns-middle {
    & > .container,
    & > .container-fluid {
        > .row {
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
        }
    }
}

.vc_row.vc_row-o-columns-bottom {
    & > .container,
    & > .container-fluid {
        > .row {
            -webkit-align-content: flex-end;
            -ms-flex-line-pack: end;
            align-content: flex-end;
        }
    }
}

.vc_row.vc_row-o-equal-height {
    & > .container,
    & > .container-fluid {
        > .row {
            .vc_column_container {
                -webkit-box-align: stretch;
                -webkit-align-items: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                display: flex;
            }
        }
    }
}

.vc_row.vc_row-o-content-top {
    & > .container,
    & > .container-fluid {
        > .row > .vc_column_container > .vc_column-inner {
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
    }
}

.vc_row.vc_row-o-content-middle {
    & > .container,
    & > .container-fluid {
        > .row > .vc_column_container > .vc_column-inner {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }
}

.vc_row.vc_row-o-content-bottom {
    & > .container,
    & > .container-fluid {
        > .row > .vc_column_container > .vc_column-inner {
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }
    }
}

.vc_column-inner {
    padding-top: 0 !important;
}

.fp-about-desc {
    position: relative;

    .fp-about-logo {
        opacity: 0.06;
        position: absolute;
        bottom: 0;
        right: 100px;
    }
}

.fp-latest-project {
    h2 {
        font-size: 30px;
        color: @light;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 45px;
        text-align: center;
    }

    .item-project {
        position: relative;
        margin-bottom: 30px;
        overflow: hidden;
        display: inline-block;

        .pro-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: transparent;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.5s;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-left: 32px solid @primary-color;
            border-right: 32px solid transparent;
            border-bottom: 32px solid @primary-color;
            border-top: 32px solid transparent;
            z-index: 9;
            opacity: 0;
            transition: 0.5s;
        }

        .project-summary {
            color: @light;
            font-size: 16px;
            font-weight: 400;
            position: absolute;
            top: 35px;
            left: 20px;
            opacity: 0;
            transition: 0.5s;


            h3 {
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 10px;
                font-weight: 400;

                a {
                    color: @light;
                }
            }
        }

        i {
            color: @light;
            font-size: 20px;
            display: inline-block;
            position: absolute;
            left: 10px;
            bottom: 10px;
            z-index: 99;
            opacity: 0;
            transition: 0.5s;
        }

        &:hover {

            &:after,
            .project-summary,
            i {
                opacity: 1;
            }

            .overlay {
                opacity: 0.9;
            }
        }
    }

    ul.filter {
        padding:0 10px;
        margin-bottom: 60px;
        list-style: none;
        text-align: center;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-color: @primary-color;

        li {
            font-size: 14px;
            font-family: @font-family-secondary;
            display: inline-block;
            padding: 12px 10px 13px 10px;
            margin: 0 10px;
            cursor: pointer;
            position: relative;

            a {
                color: @text-color;
            }

            &:after {
                transition: all 0.5s;
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 3px;
                background-color: @secondary-color;
            }

            &.active,
            &:hover {
                &:after {
                    left: 0;
                    width: 100%;
                    background-color: @secondary-color;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.style-2 {
        .project-summary {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
        }
    }

    &.light-version {
        h2 {
            color: @primary-color;
        }

        ul.filter {
            background-color: #f7f7f7;

            li {
                color: @text-color;

                a {
                    color: @text-color;
                }

                &:after {
                    background-color: @secondary-color;
                }

                &.active,
                &:hover {
                    &:after {
                        background-color: @secondary-color;
                    }
                }
            }
        }
    }
}

.fp-project-carousel {
    h2 {
        font-size: 30px;
        color: @light;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 45px;
        text-align: center;
    }

    .item-project {
        display: inline-block;
        text-align: center;

        &:hover {
            .project-thumb {
                &:after,
                i {
                    opacity: 1;
                }

                .overlay {
                    opacity: 0.9;
                }
            }
        }
    }

    .project-thumb {
        position: relative;
        margin-bottom: 20px;

        .pro-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: transparent;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-left: 32px solid @primary-color;
            border-right: 32px solid transparent;
            border-bottom: 32px solid @primary-color;
            border-top: 32px solid transparent;
            z-index: 99;
            opacity: 0;
            transition: 0.5s;
        }

        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s;
            z-index: 9;
        }

        .factory-link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        span i {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        i {
            color: @light;
            font-size: 20px;
            transition: 0.5s;
            opacity: 0;
            z-index: 999;
        }
    }

    .project-title {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 18px;

        a {
            color: @light;
            font-size: 18px;
        }
    }

    .cat-project {
        color: @secondary-color;
        font-size: 16px;
        font-style: italic;
    }

    .owl-item {
        padding: 0 15px;
    }

    .owl-controls .owl-buttons div {
        border-radius: 0;
        width: 55px;
        height: 55px;
        line-height: 55px;
        background-color: #0b0b0b;
        font-size: 22px;
        transition: 0.5s;
        top: 129px;

        &:hover {
            background-color: @secondary-color;
        }
    }

    .owl-controls .owl-next {
        right: -115px;
    }

    .owl-controls .owl-prev {
        left: -115px;
    }
}

.fp-latest-post {
    .item-latest-post {
        margin-bottom: 30px;

        .entry-header,
        .entry-content {
            margin-left: 0;
        }

        .entry-meta {
            padding-bottom: 10px;
        }

        .entry-thumbnail {
            margin-bottom: 12px;

            a {
                display: inline-block;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: @dark;
                    opacity: 0;
                    transition: 0.5s;
                }

                i {
                    color: @secondary-color;
                    font-size: 28px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 0;
                    transition: 0.5s;
                }
            }
        }

        &:hover {
            a {
                &:before {
                    opacity: 0.8;
                }

                i {
                    opacity: 1;
                }
            }
        }
    }
}

.fp-section-title {
    h2 {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 15px;
        margin-bottom: 53px;
        margin-top: 0;
        position: relative;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80px;
            height: 3px;
            background-color: @secondary-color;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 40px;
            height: 3px;
            background-color: @secondary-color;
        }
    }

    &.light-skin {
        h2 {
            color: @light;
        }
    }

    &.style-2 {
        margin-bottom: 53px;

        h2 {
            margin-bottom: 0;
            float: left;
            width: 33.3333%;
            padding-right: 15px;
        }

        p {
            float: right;
            font-size: 24px;
            width: 66.6667%;
            line-height: 1.4;
            padding-left: 15px;
        }
    }
}

.fp-icon-box,
.fp-icon-box-2,
.fp-icon-box-3,
.fp-icon-box-4,
.fp-icon-box-5,
.fp-icon-box-6 {
    p {
        margin-bottom: 0;
    }
}

.fp-icon-box {
    font-size: 16px;
    padding: 25px 30px 25px 78px;
    margin-bottom: 30px;
    border: 3px solid #f7f7f7;
    position: relative;
    transition: 0.5s;

    .fp-icon {
        font-size: 24px;
        color: @secondary-color;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f7f7f7;
        transition: 0.5s;
    }

    h4 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        padding-bottom: 15px;
    }

    &:hover {
        border-color: @secondary-color;

        .fp-icon {
            background-color: @secondary-color;
            color: @light;
        }
    }

    &.icon-top {
        padding-top: 0;
        padding-bottom: 20px;
        border: none;

        .fp-icon {
            top: 0;
            transform: translateY(0);
        }
    }
}

.fp-icon-box-2 {
    margin-bottom: 30px;

    h4 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        padding-bottom: 0;
    }

    .sub-title {
        font-size: 16px;
        font-weight: 400;
        color: @secondary-color;
        padding-bottom: 10px;
    }

    h4,
    p,
    .sub-title {
        margin-left: 60px;
    }

    .fp-icon {
        float: left;
        font-size: 36px;
        color: @primary-color;
    }

    &.light-version {
        h4 {
            color: @light;
        }

        .fp-icon {
            color: @secondary-color;
        }
    }
}

.fp-icon-box-3 {
    margin-bottom: 30px;

    h4 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 20px;
        padding-bottom: 10px;
        position: relative;

        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 40px;
            height: 1px;
            background-color: #f7f7f7;
        }
    }

    h4,p {
        margin-left: 50px;
    }

    .fp-icon {
        float: left;
        font-size: 28px;
        color: @secondary-color;
        margin-top: -8px;
    }
}

.fp-icon-box-4 {
    margin-bottom: 30px;

    h4 {
        margin: 0;
    }

    p {
        margin-left: 40px;
        color: @primary-color;
        line-height: 1.4;
    }

    .fp-icon {
        float: left;
        font-size: 28px;
        color: @secondary-color;
        margin-top: -2px;
    }
}

.fp-icon-box-5 {
    padding-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
    margin-right: 40px;
    margin-bottom: 30px;

    h4 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 14px;
        text-transform: uppercase;
    }

    h4,p {
        margin-left: 45px;
    }

    .fp-icon {
        float: left;
        font-size: 24px;
        color: @secondary-color;
        margin-top: -7px;
    }
}

.fp-icon-box-6 {
    margin-bottom: 30px;

    h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
    }

    h4,p {
        margin-left: 80px;
    }

    .fp-icon {
        float: left;
        font-size: 22px;
        color: @light;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: @secondary-color;
        border-radius: 50%;
        margin-top: 5px;
    }
}

.fp-counter {
    color: @light;
    padding: 20px 0 25px 33px;
    margin-bottom: 10px;
    background-color: @secondary-color;
    position: relative;

    .counter {
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
        padding-bottom: 10px;

        .value,
        span {
            display: inline-block;
        }

        span {
            margin-left: -5px;
        }
    }

    h4 {
        color: @light;
        font-size: 18px;
        font-weight: 400;
        font-family: @font-family-primary;
        margin: 0;
    }

    .fp-icon {
        font-size: 63px;
        color: @primary-color;
        opacity: 0.1;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;
    }

    &.style-2 {
        background-color: transparent;
        padding: 5px 0 10px 100px;

        .fp-icon {
            right: auto;
            left: 0;
            opacity: 1;
            color: @secondary-color;
        }
    }
}

.fp-testimonials-grid {
    .testi-item {
        margin-bottom: 40px;
    }

    .testi-des {
        padding: 20px 15px;
        border: 2px solid #f7f7f7;
        position: relative;
        margin-bottom: 25px;
        font-style: italic;
        font-size: 18px;

        i {
            color: #fef8eb;
            font-size: 60px;
            position: absolute;
            right: 15px;
            bottom: 25px;
            z-index: -1;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: -18px;
            left: -3px;
            border-top: 9px solid #f7f7f7;
            border-bottom: 9px solid transparent;
            border-right: 7px solid #f7f7f7;
            border-left: 7px solid transparent;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -11px;
            left: 0;
            border-top: 6px solid #fff;
            border-bottom: 6px solid transparent;
            border-right: 4px solid #fff;
            border-left: 4px solid transparent;
        }
    }

    img {
        float: left;
        margin-left: 35px;
        width: 60px;
        height: 60px;
    }

    span,
    h4 {
        display: block;
        margin-left: 115px;
    }

    .testi-name {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 18px;
        font-weight: 400;
    }

    .testi-job {
        font-size: 16px;
        font-weight: 400;
        color: @secondary-color;
    }
}

.fp-testimonials {
    text-align: center;
    padding: 0 115px;
    position: relative;

    i {
        color: @secondary-color;
        font-size: 32px;
    }

    h3 {
        font-size: 30px;
        color: @light;
        font-weight: 700;
        margin-top: 25px;
        margin-bottom: 40px;
        padding-bottom: 15px;
        position: relative;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 70px;
            height: 2px;
            background-color: @light;
        }
    }

    .testi-des {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .testi-name,
    .testi-job {
        font-size: 18px;
        color: @light;
        font-style: italic;
        display: inline-block;
        padding-bottom: 10px;
    }

    .testi-star {
        .fa {
            padding: 0 2px;
            font-size: 14px;
        }
    }

    .owl-carousel {
        position: static;
    }

    .owl-controls {
        .owl-buttons div {
            color: #9e9e9e;
            width: 50px;
            height: 50px;
            line-height: 43px;
            text-align: center;
            border-radius: 50%;
            border: 2px solid #9e9e9e;
            background-color: transparent;
            top: 65%;
            transition: 0.5s;

            .fa {
                font-size: 24px;
                color: @text-color;
                transition: 0.5s;
            }

            &:hover {
                color: @light;
                border-color: @secondary-color;
                background-color: transparent;

                .fa {
                    color: @secondary-color;
                }
            }
        }

        .owl-prev {
            left: 0;
        }

        .owl-next {
            right: 0;
        }
    }
}

.fp-testimonials-2 {
    .testi-des {
        padding: 20px;
        border: 2px solid #f7f7f7;
        position: relative;
        margin-bottom: 27px;
        font-style: italic;
        font-size: 18px;

        h2 {
            font-size: 20px;
            color: @light;
            font-style: normal;
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 400;
        }

        i {
            color: #fef8eb;
            font-size: 60px;
            position: absolute;
            right: 15px;
            bottom: 25px;
            z-index: -1;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: -18px;
            left: -3px;
            border-top: 9px solid #f7f7f7;
            border-bottom: 9px solid transparent;
            border-right: 7px solid #f7f7f7;
            border-left: 7px solid transparent;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -11px;
            left: 0;
            border-top: 6px solid #fff;
            border-bottom: 6px solid transparent;
            border-right: 4px solid #fff;
            border-left: 4px solid transparent;
        }
    }

    img {
        float: left;
        margin-left: 35px;
    }

    .testi-job,
    h4 {
        display: block;
        margin-left: 115px;
    }

    .testi-name {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 18px;
        font-weight: 400;
    }

    .testi-job {
        font-size: 16px;
        font-weight: 400;
        color: @secondary-color;
    }

    .owl-pagination {
        text-align: left;
        margin-top: 30px;

        .owl-page {
            span {
                width: 9px;
                height: 9px;
                border: 1px solid @secondary-color;
                border-radius: 50%;
                transition: 0.5s;
            }

            &.active,
            &:hover {
                span {
                    background-color: @secondary-color !important;
                }
            }
        }
    }

    &.style-1 {
        img {
            width: 60px;
            height: 60px;
        }
        .testi-des {
            margin-bottom: 33px;
            font-size: 18px;

            h2 {
                display: none;
            }
        }

        &.img-no-margin {
            img {
                margin-left: 0;
            }

            h4,.testi-job {
                margin-left: 80px;
            }

            .owl-pagination {
                position: absolute;
                top: -130px;
                right: -5px;
            }
        }
    }

    &.style-2 {
        .testi-des {
            padding: 0;
            border: 0;
            padding-top: 55px;
            font-size: 18px;
            color: #bfbfbf;

            &:before,
            &:after {
                display: none;
            }

            i {
                font-size: 32px;
                color: rgba(255, 255, 255, 0.09);
                position: absolute;
                z-index: 99;
                top: 0;
                left: 0;
                bottom: auto;
                right: auto;
            }
        }

        h4 {
            color: @light;
            margin-top: 20px;
        }

        h4,.testi-job {
            margin-left: 100px;
        }

        img {
            margin-left: 0;
            border-radius: 50%;
        }

        .owl-pagination {

            .owl-page {
                span {
                    border: 0;
                    background-color: #9e9e9e !important;
                }

                &.active,
                &:hover {
                    span {
                        background-color: @secondary-color !important;
                    }
                }
            }
        }
    }
}

.fp-testimonials-3 {
    h3 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
    }

    .testi-item {
        padding: 30px 40px;
        background-color: @light;
        margin: 0 15px;
        box-shadow: 5px 8px 8px 0 rgba(0, 0, 0, 0.06);
        border-bottom: 2px solid @secondary-color;
    }

    img {
        float: left;
        border-radius: 50%;
    }

    .testi-content {
        margin-left: 105px;
    }

    .testi-des {
        margin-bottom: 15px;
        font-style: italic;
    }

    .testi-name {
        color: @primary-color;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 18px;
        font-weight: 400;
    }

    .testi-job {
        font-size: 16px;
        font-weight: 400;
        color: @secondary-color;
    }

    .owl-wrapper-outer {
        padding-bottom: 10px;
    }

    .owl-pagination {
        text-align: center;
        margin-top: 30px;

        .owl-page {
            span {
                width: 9px;
                height: 9px;
                border: 1px solid @secondary-color;
                border-radius: 50%;
                transition: 0.5s;
            }

            &.active,
            &:hover {
                span {
                    background-color: @secondary-color !important;
                }
            }
        }
    }
}

.fp-faq {
    border: 1px solid #f7f7f7;
    margin-bottom: 10px;

    &.the-last-faq {
        margin-bottom: 0;
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
        padding: 15px 20px;
        cursor: pointer;
        transition: 0.5s;

        i {
            float: right;
            color: #9f9f9f;
            transition: 0.5s;
        }
    }

    .toggle-content {
        display: none;
        padding: 15px 20px;
    }

    &.active {
        .toggle-content {
            display: block;
        }

        i {
            transform: rotate(90deg);
            color: @light;
        }

        h2 {
            background-color: @secondary-color;
            color: @light;
        }
    }

    &:hover {
        h2 {
            background-color: @secondary-color;
            color: @light;

            i {
                color: @light;
            }
        }
    }
}

.fp-accordion {
    h2 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        padding: 15px 0;
        cursor: pointer;
    }

    .toggle-content {
        display: none;
    }

    .icons {
            display: inline-block;
            text-align: center;
            position: relative;
            cursor: pointer;
            transition: 0.5s;

            .fa {
                font-size: 14px;
                color: @secondary-color;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: 0.5s;

                &:last-child {
                    opacity: 0;
                }
            }

            &:hover {
                background-color: @secondary-color;

                .fa {
                    color: @light;
                }
            }
        }

        &.active {
            .toggle-content {
                display: block;
            }

            .icons {
                background-color: @secondary-color;
            }

            .fa {
                &:last-child {
                    opacity: 1;
                    color: @light;
                }
                &:first-child {
                    opacity: 0;
                }
            }
        }

    &.style-1 {
        border-bottom: 1px solid #f7f7f7;

        .toggle-content,
        h2 {
            margin-left: 55px;
        }

        .toggle-content {
            padding-bottom: 15px;
        }

        .icons {
            width: 35px;
            height: 35px;
            line-height: 35px;
            margin-top: 10px;
            border-radius: 50%;
            border: 1px solid @secondary-color;
            float: left;

            .fa {
                font-size: 14px;
                color: @secondary-color;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: 0.5s;

                &:last-child {
                    opacity: 0;
                }
            }

            &:hover {
                background-color: @secondary-color;

                .fa {
                    color: @light;
                }
            }
        }

        &.active {
            .toggle-content {
                display: block;
            }

            .icons {
                background-color: @secondary-color;
            }

            .fa {
                &:last-child {
                    opacity: 1;
                    color: @light;
                }
                &:first-child {
                    opacity: 0;
                }
            }
        }
    }

    &.style-2 {
        border: 1px solid #f7f7f7;

        h2 {
            padding-left: 80px;
        }

        .toggle-content {
            padding: 20px 25px;
        }

        .accordion-title {
            position: relative;

            .icons {
                position: absolute;
                width: 56px;
                height: 100%;
                border-right: 1px solid #f7f7f7;
            }
        }

        &.active {
            .accordion-title {
                border-bottom: 1px solid #f7f7f7;
            }
        }
    }
}

.fp-docs {
    position: relative;
    margin-bottom: 30px;

    h2 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    span {
        font-size: 66px;
        color: #ebebeb;
        position: absolute;
        top: -28px;
        left: 0;
        opacity: 0.5;
        z-index: -1;
    }
}

.fp-partner {
    .partner-item {
        width: 100%;
        padding: 0 15px;
        text-align: center;


        .partner-content {
            border: 3px solid rgba( 0, 0, 0, 0.03);
            min-height: 90px;
            line-height: 82px;
        }

        a {
            height: 100%;
            display: block;
        }
    }
}

.partner-dark {
    .fp-partner .partner-content {
        border-color: #f7f7f7;
    }
}

.fp-image {
    .item-1 {
        width: 44.25%;
        float: left;
        padding-right: 5px;
    }

    .item-3,
    .item-2 {
        width: 55.75%;
        padding-left: 5px;
        float: right;
    }

    .item-2 {
        padding-bottom: 5px;
    }

    .item-3 {
        padding-top: 5px;
    }
}

.fp-service {
    .entry-title {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .entry-thumbnail {
        margin-bottom: 15px;
        position: relative;
        display: inline-block;

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            background-color: transparent;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.5s;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-left: 37px solid @primary-color;
            border-right: 37px solid transparent;
            border-bottom: 37px solid @primary-color;
            border-top: 37px solid transparent;
            z-index: 9;
            opacity: 0;
            transition: 0.5s;
        }

        i {
            opacity: 0;
            position: absolute;
            color: @light;
            font-size: 24px;
            z-index: 99;
            transition: 0.5s;
        }

        .factory-link {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        span i {
            bottom: 12px;
            left: 12px;
        }
    }

    .item-service {
        padding-bottom: 20px;

        .readmore {
            display: none;
        }

        &:hover {
            .entry-thumbnail {

                &:after,
                i {
                    opacity: 1;
                }

                .overlay {
                    opacity: 0.9;
                }
            }
        }

        &.col-md-4:nth-child( 3n + 1 ),
        &.col-md-6:nth-child( 2n + 1 ) {
            clear: left;
        }
    }

    &.style-2 {
        .item-service {
            padding-top: 30px;
            border-bottom: 1px solid #f7f7f7;

            p {
                margin-bottom: 20px;
            }

            .readmore {
                display: inline-block;
            }
        }
    }
}

.fp-service-3 {
    padding-top: 50px;
    color: @light;
    text-align: center;

    .fp-icon {
        font-size: 40px;
    }

    h2 {
        position: relative;
        font-size: 20px;
        font-weight: 400;
        color: @light;
        margin-top: 0;
        padding-bottom: 18px;
        margin-bottom: 40px;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 70px;
            height: 2px;
            background-color: @light;
        }
    }

    a {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: @font-family-secondary;
        color: @light;
        display: inline-block;
        padding: 10px 20px;
        transition: 0.5s;

        i {
            padding-left: 8px;
        }

        &:hover {
            background-color: @primary-color;
        }
    }

    &.dark {
        background-color: rgba( 0, 0, 0, 0.1);
    }
}

.fp-button {
    a {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        background-image: none !important;
        background-color: @secondary-color !important;

        &:hover {
            background-color: @secondary-color;
            box-shadow: none;
            background-position: 0% !important;
            background-image: none !important;
        }
    }
}

.fp-service-2 {
    .item-service {
        position: relative;
        color: @light;
        margin-bottom: 30px;
        overflow: hidden;

        .entry-thumbnail {
            margin-bottom: 0;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        z-index: 9;
        opacity: 0;
    }

    .service-content {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        width: 100%;
        height: 100%;
        z-index: 99;
        transition: 0.65s;
        transform: translateY(170px);

        .readmore,h2,p {
            position: relative;
            z-index: 999;
        }
    }

    a {
        color: #fff;

        &.readmore {
            font-size: 14px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            display: inline-block;
            padding: 12px 20px;
            border: 1px solid #fff;
            line-height: 1;
        }
    }

    p {
        margin-bottom: 25px;
    }

    h2 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        transition: 0.5s;
        padding-bottom: 15px;
    }

    .item-service:hover {
        .overlay {
            opacity: 1;
        }

        .service-content {
            transform: translateY(0);
        }
    }
}

.fp-feature-product {
    ul.products li.product {
        width: 100%;
    }

    .owl-controls .owl-buttons div {
        font-size: 14px;
        color: #9e9e9e;
        top: -70px;
        width: 45px;
        height: 45px;
        line-height: 43px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid #f7f7f7;
        background-color: transparent;
        transition: 0.5s;

        &:hover {
            color: @light;
            background-color: @secondary-color;
            border-color: @secondary-color;
        }
    }

    .owl-controls {
        .owl-prev {
            left: auto;
            right: 70px;
        }

        .owl-next {
            right: 15px;
        }
    }
}

.fp-phone {
    margin-bottom: 30px;

    a {
        float: left;
        min-height: 50px;
        min-width: 170px;
        line-height: 50px;
        margin-top: 5px;
    }

    .hotline {
        float: right;
        font-size: 24px;
        font-weight: 700;
        color: @primary-color;

        span {
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: @secondary-color;
        }

        i {
            float: left;
            font-size: 32px;
            color: @secondary-color;
            margin-top: 10px;
        }

        span,p {
            margin-left: 45px;
            line-height: 1.3;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.fp-team {
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 3px solid #f7f7f7;

    .team-member {
        margin-bottom: 25px;
        position: relative;
        display: inline-block;

        .phone {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                border-left: 32px solid @primary-color;
                border-right: 32px solid transparent;
                border-bottom: 32px solid @primary-color;
                border-top: 32px solid transparent;
                z-index: 998;
            }

            &:hover {
                .number {
                    opacity: 1;
                }
            }
        }

        .number {
            padding: 2px 10px;
            position: absolute;
            bottom: 35px;
            left: 45px;
            background-color: @primary-color;
            color: @light;
            opacity: 0;
            transition: 0.5s;

            &:after {
                position: absolute;
                content: '';
                bottom: -10px;
                left: 0;
                border-left: 5px solid @primary-color;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-top: 5px solid @primary-color;
                z-index: 998;
            }
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .factory-technology {
            font-size: 22px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: @light;
            z-index: 999;
        }

        ul {
            width: 100%;
            text-align: center;
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            li {
                display: inline-block;
                padding-right: 15px;

                &:last-child {
                    padding-right: 0;
                }

                a {
                    display: inline-block;
                    text-align: center;
                    min-height: 40px;
                    min-width: 40px;
                    line-height: 40px;
                    color: @light;
                    border: 1px solid @light;
                    border-radius: 50%;
                    transition: 0.5s;
                }

                &:hover {
                    a {
                        color: @secondary-color;
                        background-color: @light;
                    }
                }
            }
        }

        .factory-technology,
        ul,
        .phone:after,
        .overlay {
            opacity: 0;
            transition: 0.5s;
        }
    }

    &:hover {
        .team-member {
            .factory-technology,
            ul,
            .phone:after {
                opacity: 1;
            }

            .overlay {
                opacity: 0.9;
            }
        }
    }

    h4 {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 400;
    }

    .job {
        color: @secondary-color;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        display: block;
        margin-bottom: 10px;
    }
}

.fp-custom-images {
    .img-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    &.images-grid {
        .img-item {
            float: left;
            margin-bottom: 30px;
        }

        &.columns-1 {
            .img-item {
                width: 100%;
            }
        }

        &.columns-2 {
            .img-item {
                width: 50%;
            }
        }

        &.columns-3 {
            .img-item {
                width: 33.3333%;
            }
        }

        &.columns-4 {
            .img-item {
                width: 25%;
            }
        }
    }

    &.images-carousel {
        .owl-controls {
            .owl-page {
                span {
                    border-color: #222;
                    background-color: #fff;
                    width: 10px;
                    height: 10px;
                    transition: 0.5s;


                }

                &.active,
                &:hover {
                    span {
                        background-color: #222;
                    }
                }
            }
        }

        .owl-pagination {
            margin-top: 20px;
        }

        .owl-buttons {
            div {
                transform: translateY(-50%);
                width: 40px;
                height: 70px;
                line-height: 67px;
                transition: 0.5s;
                border-radius: 0;
                opacity: 0;

                &:hover {
                    background-color: #222;
                }
            }

            .owl-prev {
                left: 15px;
            }

            .owl-next {
                right: 15px;
            }
        }

        &:hover {
            .owl-buttons div {
                opacity: 1;
            }
        }
    }
}

// Video
.mejs-container {
    .mejs-controls {
        background: #101010;

        .mejs-time span {
            color: @secondary-color;
        }

        .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
        .mejs-volume-button .mejs-volume-slider .mejs-volume-handle,
        .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
            background: @secondary-color;
        }

        .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
            background: rgba(250, 192, 18, 0.5);
        }

        .mejs-time-rail {
            .mejs-time-loaded,
            .mejs-time-current,
            .mejs-time-total {
                height: 6px;
            }

            .mejs-time-current {
                background: @secondary-color;
            }

            .mejs-time-loaded {
                background: #4a4a4a;
            }

            .mejs-time-total {
                margin-top: 7px;
                background: #2d2d2d;
            }
        }
    }
}
