@gray-darker: #111;
@gray-dark: #333;
@gray: #555;
@gray-light: #ccc;
@gray-lighter: #fafafa;

@light: #fff;
@dark: #000;

@primary-color: #272727;
@secondary-color: #fac012;
@text-color: #9e9e9e;

@font-size: 16px;
@font-size-h1: floor((@font-size * 2.6)); // ~36px
@font-size-h2: floor((@font-size * 2.15)); // ~30px
@font-size-h3: ceil((@font-size * 1.7)); // ~24px
@font-size-h4: ceil((@font-size * 1.25)); // ~18px
@font-size-h5: @font-size;
@font-size-h6: ceil((@font-size * 0.85)); // ~12px

@font-family-primary: 'Lato', Arial, sans-serif;
@font-family-secondary: 'Montserrat', sans-serif;
@font-family-thirdary: 'Poppins', sans-serif;
