@import url("../font-awesome.min.css");
@import url("../factoryplus-icons.css");

.icon_block .icon-selector {
	display: block;
}

.icon_block .icon-preview {
	padding-right: 20px;
	font-size: 20px;
}

.icon_block .icon-search {
	width: 50%;
}

.icon_block .icon-selector {
	padding: 10px;
	margin-top: 10px;
	max-height: 180px;
	overflow: auto;
	background: #f0f0f0;
	border: 1px solid #ddd;
}

.icon-selector i {
	border-radius: 2px;
	display: inline-block;
	padding: 6px;
	margin: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid #dfdfdf;
	background: #fff;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}

.icon-selector i:before {
	vertical-align: middle;
}

.icon-selector i.selected {
	border-color: #0089bd;
	background-color: #0089bd;
	color: #fff;
}
